@import "tailwindcss";

@theme {
  --color-platinum: #ebebeb;
  --color-onyx: #070c0d;
  --color-irongrey: #4a5659;
  --color-coolsteel: #859599;
  --color-jetblack: #182525;
}

@layer base {
  body {
    @apply m-0 bg-slate-950 text-slate-100 text-sm leading-relaxed font-sans;
  }

  #root {
    @apply h-screen;
  }
}
